body {
}

header {
  background-color: rgba(10, 10, 10, 0.86);
  margin: -16px -8px 0 -8px;
  margin-bottom: 20px;
} 

nav {
  text-align: justify;
  max-width: 980px;
  margin: 0 auto;
  height: 44px;
  
}

nav ul {
  list-style-type: none;
  color: lightgrey;
  text-align: justify;
  margin-right: 30px;
}

nav ul li {
  display: inline;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-align: justify;
  vertical-align: top;
  line-height: 47px;
}

.apple-icon {
  width: 20px;
  clear: all;
}


nav ul .stretch {
  display: inline-block;
  width: 100%;
  *display: inline;
  zoom: 1;
  height: 0px;
}

.hero-heading {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.hero {
  background-image: url("hero.jpg");
  width: 1000px;
  height: 652px;
  margin: 0 auto;
}

.hero-font-large {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-setting: "liga", "kern";
  font-size: 60px;
  font-weight: 200;

}
  
.hero-font-small {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-setting: "liga", "kern";
  font-size: 32px;
  font-weight: 200;
}

.hero-link {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-setting: "liga", "kern";
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
}
