body {
  background-color: white;
}

header {
  background-color: rgba(10, 10, 10, 0.86);
  margin: -16px -8px 0 -8px;
} 

nav {
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
  height: 44px;
  
}

nav ul {
  list-style-type: none;
  color: lightgrey;
  text-align: justify;
  margin-right: 30px;
}

nav ul li {
  display: inline;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-align: justify;
  vertical-align: top;
  line-height: 47px;
}

.apple-icon {
  width: 20px;
  clear: all;
}


nav ul .stretch {
  display: inline-block;
  width: 100%;
  *display: inline;
  zoom: 1;
  height: 0px;
}

